{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'booking_edit_title'|trans({}, 'booking') }}</h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <input type="submit" class="btn btn-info float-left mr-1" value="{{ 'edit_button'|trans({}, 'general') }}" />
    {{ form_end(edit_form) }}

    <a class="btn btn-default float-left mr-1" href="{{ path('booking_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
    {% if is_granted("ROLE_CHIEF") %}
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger float-left mr-1" value="{{ 'delete_button'|trans({}, 'general') }}">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $( ".datepicker" ).datepicker({
            format: '{{  'date_format'|trans({}, 'general')  }}'
        });

        $('.timepicker').timepicker({
            timeFormat: '{{  'hour_format'|trans({}, 'general')  }}',
            interval: 15,
            minTime: '8',
            maxTime: '18',
            startTime: '8',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    </script>
{% endblock %}
