{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'booking_show_title'|trans({}, 'booking') }}</h1>
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'booking_id'|trans({}, 'booking') }}</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_day'|trans({}, 'booking') }}</th>
                <td>{{ booking.day }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_hour'|trans({}, 'booking') }}</th>
                <td>{{  booking.hour }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_people'|trans({}, 'booking') }}</th>
                <td>{{ booking.peopleBooked }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_email'|trans({}, 'booking') }}</th>
                <td>{{ booking.email }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_name'|trans({}, 'booking') }}</th>
                <td>{{ booking.name }}</td>
            </tr>
            <tr>
                <th>{{ 'booking_phone'|trans({}, 'booking') }}</th>
                <td>{{ booking.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default float-left mr-1" href="{{ path('booking_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
    {% if is_granted("ROLE_WRITER") %}
    <a class="btn btn-info float-left mr-1" href="{{ path('booking_edit', { 'id': booking.id }) }}">{{ 'edit_button'|trans({}, 'general') }}</a>
    {% endif %}
    {% if is_granted("ROLE_CHIEF") %}
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger float-left mr-1" value="{{ 'delete_button'|trans({}, 'general') }}">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
