{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'dish_index_title'|trans({}, 'dish') }}</h1>
{% endblock %}

{% block body %}
    <div class="col-lg-12 col-md-12">
        {% for dish in dishes %}
            <div class="card px-2">
                <div class="card-block">
                    <h3 class="card-title">{{ dish.title }}</h3>
                    <p class="card-text">
                        {{ dish.description }}
                    </p>
                    <a href="{{ path('dish_front_show', { 'id': dish.id }) }}" class="btn btn-primary">
                        {{ 'detail_button'|trans({}, 'general') }}
                    </a>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-default" href="{{ path('default_index') }}">{{ 'home_button'|trans({}, 'general') }}</a>
    </div>
{% endblock %}
