{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'dish_show_title'|trans({}, 'dish') }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'dish_title'|trans({}, 'dish') }}</th>
                <td>{{ dish.title }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_description'|trans({}, 'dish') }}</th>
                <td>{{ dish.description }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_price'|trans({}, 'dish') }}</th>
                <td>{{ dish.price }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_home_made'|trans({}, 'dish') }}</th>
                <td>{% if dish.homeMade %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'dish_author'|trans({}, 'dish') }}</th>
                <td>{{ dish.author }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_image'|trans({}, 'dish') }}</th>
                <td>{{ dish.image }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_category'|trans({}, 'dish') }}</th>
                <td>{{ dish.category }}</td>
            </tr>
            <tr>
                <th>{{ 'dish_allergens'|trans({}, 'dish') }}</th>
                <td>{% if dish.allergens %}{{ dish.allergens|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
