{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'dish_new_title'|trans({}, 'dish') }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.homeMade) }}
        {{ form_row(form.image) }}
        {{ form_row(form.category) }}
        <div class="form-group">
            <label class="control-label" for="allergen-fields-list">{{ 'dish_allergens'|trans({}, 'dish') }}</label>
            <ul class="allergens list-group" data-prototype="{{ form_widget(form.allergens.vars.prototype)|e }}">
                {% for allergen in form.allergens %}
                    <li class="list-group-item">
                        {{ form_errors(allergen) }}
                        {{ form_widget(allergen) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_row(form.draft) }}
        {{ form_row(form.in_validation) }}
        {% if is_granted("ROLE_REVIEWER") %}
            {{ form_row(form.refuse) }}
            {{ form_row(form.valid) }}
        {% else %}
            {{ form_row(form.refuse, { 'attr': {'class': 'hidden-xs-up'}}) }}
            {{ form_row(form.valid, { 'attr': {'class': 'hidden-xs-up'}}) }}
        {% endif %}
    {{ form_end(form) }}

    <a class="btn btn-default" href="{{ path('dish_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(".file").fileinput({
            browseClass: "btn btn-success",
            browseLabel: "{{ 'browse_button'|trans({}, 'general') }}",
            browseIcon: "",
            removeClass: "btn btn-danger",
            removeLabel: "{{ 'delete_button'|trans({}, 'general') }}",
            removeIcon: "",
            allowedFileExtensions: ["gif", "jpg", "png"],
            layoutTemplates: {
            main1:
            "<div class=\'input-group {class}\'>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {browse}\n" +
            "   </div>\n" +
            "   <div class=\'input-group-btn\'>\n" +
            "       {remove}\n" +
            "   </div>\n" +
            "   {caption}\n" +
            "</div>"
        }
        });

        // Add Allergen
        var $collectionHolder;

        var $addAllergenLink = $('<a href="#" class="btn btn-warning add_allergen_link">{{ 'dish_add_allergen'|trans({}, 'dish') }}</a>');
        var $newLinkLi = $('<li class="list-group-item"></li>').append($addAllergenLink);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.allergens');

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAllergenLink.on('click', function(e) {
                e.preventDefault();
                addAllergenForm($collectionHolder, $newLinkLi);
            });
        });

        function addAllergenForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
