<h3>{{ 'dish_confirmed_title'|trans({}, 'mail') }}</h3>

{{ 'dish_confirmed_body'|trans({
    '%author%': dish.author,
    '%title%': dish.title
}, 'mail') }}

<a href="http://restaurant.localhost/dish/{{ dish.id }}">{{ 'dish_confirmed_link'|trans({}, 'mail') }}</a>

{{ 'dish_confirmed_thanks'|trans({}, 'mail') }}
