{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'menu_edit_title'|trans({}, 'menu') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <label class="control-label" for="dish-fields-list">{{ 'menu_dishes'|trans({}, 'menu') }}</label>
        <ul class="dishes" data-prototype="{{ form_widget(edit_form.dishes.vars.prototype)|e }}">
            {% for dish in edit_form.dishes %}
                <li>
                    {{ form_errors(dish) }}
                    {{ form_widget(dish) }}
                </li>
            {% endfor %}
        </ul>

        <input type="submit" class="btn btn-info" value="{{ 'edit_button'|trans({}, 'general') }}" />
    {{ form_end(edit_form) }}

    <a class="btn btn-default" href="{{ path('menu_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="{{ 'delete_button'|trans({}, 'general') }}">
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        // Add Dish
        var $collectionHolder;

        var $addDishLink = $('<a href="#" class="add_dish_link">{{ 'menu_add_dish'|trans({}, 'menu') }}</a>');
        var $newLinkLi = $('<li></li>').append($addDishLink);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.dishes');

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addDishLink.on('click', function(e) {
                e.preventDefault();
                addDishForm($collectionHolder, $newLinkLi);
            });
        });

        function addDishForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
