{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'menu_edit_title'|trans({}, 'menu') }}</h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <a class="btn btn-default float-left mr-1" href="{{ path('menu_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
    {% if is_granted("ROLE_CHIEF") %}
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger float-left mr-1" value="{{ 'delete_button'|trans({}, 'general') }}">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(".select2").select2({
            placeholder: "{{ 'menu_dishes_placeholder'|trans({}, 'menu') }}"
        });
    </script>
{% endblock %}
