{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'menu_index_title'|trans({}, 'menu') }}</h1>
{% endblock %}

{% block body %}
    <div class="col-lg-12 col-md-12">
        {% for menu in menus %}
            <div class="card px-2">
                <div class="card-block">
                    <h3 class="card-title">{{ menu.title }}</h3>
                    <p class="card-text">
                        {{ 'menu_card_text'|trans({'%price%': menu.price, '%author%': menu.author}, 'menu') }}
                    </p>
                    <a href="{{ path('menu_front_show', { 'id': menu.id }) }}" class="btn btn-primary">
                        {{ 'detail_button'|trans({}, 'general') }}
                    </a>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-default" href="{{ path('default_index') }}">{{ 'home_button'|trans({}, 'general') }}</a>
    </div>
{% endblock %}
