{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'menu_show_title'|trans({}, 'menu') }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'menu_title'|trans({}, 'menu') }}</th>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_price'|trans({}, 'menu') }}</th>
                <td>{{ menu.price }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_author'|trans({}, 'menu') }}</th>
                <td>{{ menu.author }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
