{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'menu_index_title'|trans({}, 'menu') }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'menu_title'|trans({}, 'menu') }}</th>
                <th>{{ 'menu_price'|trans({}, 'menu') }}</th>
                <th>{{ 'menu_author'|trans({}, 'menu') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.title }}</a></td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.author }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
