{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ menu.title }}</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9">
            <p>{{ 'menu_author_front'|trans({'%author%': menu.author}, 'menu') }}</p>
        </div>
        <div class="col-3">
            <p class="lead"><label>{{ 'menu_price'|trans({}, 'menu') }}</label> {{ menu.price }} {{ 'money_symbol'|trans({}, 'general') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>{{ 'menu_dishes'|trans({}, 'menu') }}</label>
            <table class="table">
                <tbody>
                </tbody>
            </table>

            <a class="btn btn-default" href="{{ path('menu_front_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
        </div>
    </div>
{% endblock %}
