{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'menu_new_title'|trans({}, 'menu') }}</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.price) }}
        {{ form_row(form.displayOrder) }}
        {{ form_row(form.dishes) }}
        {{ form_row(form.draft) }}
        {{ form_row(form.in_validation) }}
        {% if is_granted("ROLE_REVIEWER") %}
            {{ form_row(form.refuse) }}
            {{ form_row(form.valid) }}
        {% else %}
            {{ form_row(form.refuse, { 'attr': {'class': 'hidden-xs-up'}}) }}
            {{ form_row(form.valid, { 'attr': {'class': 'hidden-xs-up'}}) }}
        {% endif %}
    {{ form_end(form) }}

    <a class="btn btn-default float-left mr-1" href="{{ path('menu_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(".select2").select2({
            placeholder: "{{ 'menu_dishes_placeholder'|trans({}, 'menu') }}"
        });
    </script>
{% endblock %}
