{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'menu_new_title'|trans({}, 'menu') }}</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a class="btn btn-default float-left mr-1" href="{{ path('menu_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(".select2").select2({
            placeholder: "{{ 'menu_dishes_placeholder'|trans({}, 'menu') }}"
        });
    </script>
{% endblock %}
