{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ 'menu_show_title'|trans({}, 'menu') }}</h1>
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'menu_id'|trans({}, 'menu') }}</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_title'|trans({}, 'menu') }}</th>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_price'|trans({}, 'menu') }}</th>
                <td>{{ menu.price }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_display_order'|trans({}, 'menu') }}</th>
                <td>{{ menu.displayOrder }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_status'|trans({}, 'menu') }}</th>
                <td>{{ menu.status }}</td>
            </tr>
            <tr>
                <th>{{ 'menu_author'|trans({}, 'menu') }}</th>
                <td>{{ menu.author }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default float-left mr-1" href="{{ path('menu_index') }}">{{ 'return_button'|trans({}, 'general') }}</a>
    {% if is_granted("ROLE_WRITER") and menu.author == app.user.username %}
        <a class="btn btn-info float-left mr-1" href="{{ path('menu_edit', { 'id': menu.id }) }}">{{ 'edit_button'|trans({}, 'general') }}</a>
    {% endif %}
    {% if is_granted("ROLE_REVIEWER") %}
        <a class="btn btn-success float-left mr-1" href="{{ path('menu_validation', { 'id': menu.id, 'status': 'valid' }) }}">{{ 'valid'|trans({}, 'general') }}</a>
        <a class="btn btn-danger float-left mr-1" href="{{ path('menu_validation', { 'id': menu.id, 'status': 'refuse' }) }}">{{ 'refuse'|trans({}, 'general') }}</a>
    {% endif %}
    {% if is_granted("ROLE_CHIEF") %}
        {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger float-left mr-1" value="{{ 'delete_button'|trans({}, 'general') }}">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
